fieldset{

	min-width: 3%;
}
form div{
	margin-top: 0.5em;
}
textarea{
min-width: 3%;	
}
table { 
  width: 100%; 
  border-collapse: collapse; 
  /*propiedad para unir los bordes de la tabla*/
}
/*para definir un estilo distinto entre filas*/
tr:nth-of-type(odd) { 
  background: #eee; 
}

th { 
  background: #333; 
  color: white; 
  font-weight: bold; 

}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 

}
.imagenHeroe{
	margin-top: 1em;
	min-height: 20px;
	width: 80%;
}
.imagenHeroe img{
	width: 20%;
	}
.linkActualizar , .linkEliminar{
background: white;
border:solid 1px black;
border-radius: 0.3em;

font-size: 16px;
padding: 0.2em;
text-decoration: none;

}

.linkActualizar{
	color:green;
}

.linkEliminar{
color:red;
}
.linkActualizar:hover , .linkEliminar:hover{
border:solid 2px black;
	}
.bhistoria{
	width: 50%;
	font-size: 10px;
	word-wrap:break-word;
}
.bhistoria:hover{
	font-size: 18px;
	word-wrap:break-word;
	-ms-transition: all 2.5s ease-in;
    -moz-transition: all 2.5s ease-in;
    -webkit-transition: all 2.5s ease-in;
    transition: all 2.5s ease-in;
}
td img{
	width: 90%;
}
td img:hover, .imagenHeroe:hover{
	border-radius: 0.5em;
    -ms-transform: scale(3,3); /* IE 9 */
    -webkit-transform: scale(3,3); /* Safari */
    transform: scale(3,3);
    -ms-transition: all 2.5s ease-in;
    -moz-transition: all 2.5s ease-in;
    -webkit-transition: all 2.5s ease-in;
    transition: all 2.5s ease-in;
}


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 1100px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Id"; }
	td:nth-of-type(2):before { content: "Nombre"; }
	td:nth-of-type(3):before { content: "Imagen"; }
	td:nth-of-type(4):before { content: "Reseña"; }
}