/*
css para resetear o normalizar

etiquetas html

identificadores 

clases

media queris



para ver si las reglas css estan en uso actualmente en todos los navegadores o con prefijo*/


*{
	margin: 0 auto;
	padding: 0 auto;
}



.prueba{
	background: skyblue;
	height: 300px;
	/* valores porcentuales em y rem nos permiten definir el tamaño del elemento de forma elastica o con medidas porcentuales esto nos permite que se adaptable la caja a nuevas resoluciones*/
	width: 50%; 
}

body{
background: #E5E5E5;
	/*asignacion de tamaño de letra*/
font-size: 32px;
}


header{
background: #0059FF;
}	
nav{
background: #0059FF;
}
/*para trabajar varias etiquetas, identifcadores o clases al mismo tiempo*/
header, nav{

background: #00C3FF;
/*modifica el border del elemento ovalandolo sus esquinas */
border-radius: 0.5em;
color:white;

min-height: 100px;
/*padding no sirve para engordar el elemento dentro */
padding: 0.5em;
width: 90%;
/*me crea un espacio o margen entre los elementos vecinos*/
margin: 0 auto;
margin-top: 0.5em;
/*Para centrar el texto*/
text-align: center;
-ms-transition: all 0.9s ease-in;
-moz-transition: all 0.9s ease-in;
-o-transition: all 0.9s ease-in;
-webkit-transition: all 0.9s ease-in;
transition: all 0.9s ease-in;
}
header{
	/*background-image: url("../img/super-heroes.png");*/
	background-size: 100% 100%;
	text-decoration: underline;
	font-weight: bold;
	color: black;
	min-height: 300px;
}
header img{
width: 60%;
}

article{
	border-radius: 0.5em;
	color: black;
	background: #FFFFFF;
	min-height: 100px;
	padding: 0.5em;
	width: 90%;
}
footer{
background: #00C3FF;
border-radius: 0.5em;
color:white;
margin: 0 auto;
margin-top: 0.5em;
/*tenemos tipos de margenes para cada lado */

/*margin: 1.5em 0 0 0;
tambien podemos manejar el margin con 4 parametros que van en sentidos de las agujas del reloj: superior, derecha, inferior e izquierda; esta regla aplica para border, border-raduis, padding
*/
padding: 0.5em;
min-height: 100px;
width: 90%;
text-align: center;
}


#principal{
	
	margin: 0 auto;
	margin-top: 0.5em;
	padding: 0 auto;

	width: 93%;
	/*para ajustar el texto o elementos al centro*/
	text-align: center;

}
.contenido,aside{
background: black;
background: #00C3FF;

/*modifica el border del elemento ovalandolo sus esquinas */
border-radius: 0.5em;
color:white;
/*diplay: tiene propiedades como block e inline-block son las mas usadas, BLOCK no permite tener un elemento compañero a los lados pero inline-block si lo permite*/
display: inline-block;
font-size: 25px;
min-height: 100px;
width: 60%;
margin: 0 auto;
padding-top: 1.5em;
padding-bottom:1.5em;
text-align: center;
vertical-align: top;
 -ms-transition: all 0.9s ease-in;
  -moz-transition: all 0.9s ease-in;
  -o-transition: all 0.9s ease-in;
  -webkit-transition: all 0.9s ease-in;
  transition: all 0.9s ease-in;
}
aside{
	width: 38.5%;
	
}

aside a{ /*le damos estilos a la etique "a" de html que son los enlaces PERO las que estan dentro del aside*/

color:#000000;

}

aside a:visited{/*los pseudo elementos nos permiten aplicar estilo en los diferentes estado de una etiqueta html*/
	color:#FF4A00;
}

aside a:hover{/*los pseudo elementos nos permiten aplicar estilo en los diferentes estado de una etiqueta html*/
	color:#F3FF00;
}

.textoLeyenda{
	color: black;
	font-size: 20px;
	padding: 0 0.5em;
	text-align: justify;
}
.textoLeyenda:hover{
	
	font-size: 30px;
}
/*librosweb.es*/


/*media query // dependiendo la resolucion que obtiene realiza las setencias que estan contenidas en esa resolucion, puede ser trabajada de menor a mayor resolucion    o    de mayor a menor resolucion*/

/*@media(min-width: 100px){
.contenido, aside{
	background: red;
	font-size: 50px;
*/	/*para que no compartan espacio*//*
	display: block;
	width: 90%;*/
	/*transition: width 2.5s ease-out;
	-ms-transition: width 2.5s ease-out;
	-moz-transition: width 2.5s ease-out;
	-o-trasition: width 2.5s ease-out;
	-webkit-trasition: width 2.5s ease-out;*//*
	transition: all 2.5s ease-out;
	-ms-transition: all 2.5s ease-out;
	-moz-transition: all 2.5s ease-out;
	-o-trasition: all 2.5s ease-out;
	-webkit-trasition: all 2.5s ease-out;
	word-wrap:break-word;
}
aside{
	margin-top: 0.5em;
}



}


@media(min-width: 800px){
	.contenido{
		background: #0059FF;
		font-size: 32px;*/
		/*para que compartan espacio*/
		/*display: inline-block;
		width: 60%;
	}
	aside{
		background: #0059FF;
		font-size: 32px;*/
	/*para que compartan espacio*/
/*		display: inline-block;
		width: 38.5%;
		margin-top: 0;	
	}
}*/



/*media query de mayor a menor*/
@media(max-width: 860px){
	header, nav, footer{
			/*solida ,fina, blanca*/
		
		border: solid thin white;
		padding: 0;
		transition: all 2.5s ease-out;
	-ms-transition: all 2.5s ease-out;
	-moz-transition: all 2.5s ease-out;
	-o-trasition: all 2.5s ease-out;
	-webkit-trasition: all 2.5s ease-out;
	}
	.contenido, aside{
	/*background: red;*/
	font-size: 20px;
/*para que no compartan espacio*/
	display: block;
	width: 90%;
	/*transition: width 2.5s ease-out;
	-ms-transition: width 2.5s ease-out;
	-moz-transition: width 2.5s ease-out;
	-o-trasition: width 2.5s ease-out;
	-webkit-trasition: width 2.5s ease-out;*/
	transition: all 2.5s ease-out;
	-ms-transition: all 2.5s ease-out;
	-moz-transition: all 2.5s ease-out;
	-o-trasition: all 2.5s ease-out;
	-webkit-trasition: all 2.5s ease-out;
	word-wrap:break-word;
}

aside{
	margin-top: 0.5em;
}




}


