/*estilos de iconos en inicio///////////////////////////////////////////////////*/

.vista {
	background: white;
   	display: inline-block;
   	/*float: left;*/
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    width: 23%;
}


.vista .mascara, .vista .contenido {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.vista img {
    display: block;
    position: relative;
    width: 100%;
}
.vista h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: hsla(0,0%,0%,0.8);
    margin: 20px 0 0 0;
}
.vista p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.vista a.informacion {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
}
.vista a.informacion:hover {
    box-shadow: 0 0 5px #000
}





/*magia*/
.vista img {
    transition: all 0.2s ease-in;
}
.vista .mascara {
    opacity: 1;
    background-color: hsla(100,100,100,0.6);
    
    transition: all 0.2s 0.4s ease-in-out;
    transform: translate(0px, 0px) 
}
.vista h2 {
	background: hsla(0,0%,0%,0.6);
	opacity: 1;
    transform: translateY(0px);
    transition: all 0.2s ease-in-out;
}
.vista p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.2s ease-in-out;
}
.vista a.informacion{
    transform: translateY(-200px);
    transition: all 0.2s 0.1s ease-in-out;
}

.vista:hover .mascara { 
    opacity: 1;
    background-color: hsla(0,0%,0%,0.6);
    transform: translate(0px, 0px);
    transition-delay: 0s;
}
.vista:hover h2 { 
	color: #00FF00;
	background: hsla(0,0%,0%,0.8);
    transform: translateY(0px); 
    transition-delay: 0.5s;

}
.vista:hover p {
    transform: translateX(0px) rotate(0deg);
    transition-delay: 0.4s;
}
.vista:hover a.informacion {
    transform: translateY(0px);
    transition-delay: 0.3s;
}



/*********************************media query**************************/
@media(max-width: 860px){

.vista{
display: block;
width: 80%;
        -ms-transition    : all 0.9s ease-in;
        -moz-transition   : all 0.9s ease-in;
        -o-transition     : all 0.9s ease-in;
        -webkit-transition: all 0.9s ease-in;
        -ms-transition    : all 0.9s ease-out;
        -moz-transition   : all 0.9s ease-out;
        -o-transition     : all 0.9s ease-out;
        -webkit-transition: all 0.9s ease-out;
        transition        : all 0.9s ease-out;
    }


}